.headline {    
    display: flex;
    justify-content: center;
    background-color: #eaac8b;
}

.directory-box {
    background-color: #B56576;
}

.directory-entry {

}

.site-update-box {
    background-color: #EAAC8B;
}

.site-update-entry {

}

.article-box {    
    background-color: #E56B6F;
}

.article-header {

}

.article-body {

}


.logo-box {    
    background: linear-gradient(180deg, orange, tan);
}

.footer-box {
    justify-content: center;
    background-color: #6D597A;
}


body {
    background-image: url("/assets/images/autumn_leaves_tile.png");
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: Verdana;
}

img {
    max-width: 100%;
    height: auto;
}

