.headline {    
    display: flex;
    justify-content: center;
    background-color: #ff71ce;
}

.directory-box {
    background-color: #fffb96;
}

.directory-entry {

}

.site-update-box {
    background-color: #b967ff;
}

.site-update-entry {

}

.article-box {    
    background-color: #05ffa1;
}

.article-header {

}

.article-body {

}


.logo-box {
    background-image: "/assets/images/autumn_leaves_tile.png";
    background-repeat: repeat;
}

.footer-box {
    justify-content: center;
    background-color: #01cdfe;
}


.body {
    background-image: "/assets/images/autumn_leaves_tile.png";
    background-repeat: repeat;
}


